.gornjIgrac {
    -fx-border-width: 1px;
    -fx-border-color: black;
    -fx-background-color: lightgray;
}

.donjIgrac {
    -fx-border-width: 1px;
    -fx-border-color: black;
    -fx-background-color: white;
}

.karta-plava {
    -fx-border-color: black;
    -fx-background-color: lightblue;
}

.karta-zlatna {
    -fx-border-color: black;
    -fx-background-color: gold;
}

.karta-pozadina {
    -fx-border-color: black;
    -fx-background-color: white;
}

.iskoriscena-karta {
    -fx-border-width: 2px;
    -fx-border-color: red;
}